/* Custom properties */
:root {
  --first-color: rgb(217, 0, 98);
  --first-alpha-color: rgb(217, 0, 98, 0.75);
  --second-color: rgb(20, 25, 40);
  --second-alpha-color: rgb(20, 25, 40, 0.75);
  --third-color: rgb(80, 20, 100);
  --third-alpha-color: rgb(80, 20, 100, 0.75);

  --link-color: rgb(80, 158, 227);

  --bg-color: rgb(245, 245, 245);
  --bg-alpha-color: rgb(245, 245, 245, 0.75);
}
/* Reset styles */
body {
  font-family: "raleway", sans-serif;
}

/* Bootstrap(V5.3.3) Styles Modifications */
.navbar {
  font-weight: 900;
}
.dropdown-item{
 color:var( --first-alpha-color);

 font-weight:  900;
}
.dropdown-item:hover{
background-color:var( --first-alpha-color); ;
 color: white;
  font-weight:  900;
 }


.navbar-brand img {
  width: auto;
  height: 3rem;
}
.navbar-dark .navbar-toggler-icon {

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

}
.navbar-dark .navbar-toggler-icon:hover {

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28217, 0, 98, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
opacity:.75;
}



.nav-item {

  transition: all 0.1s ease-out;
}

.nav-link {
  margin-left: 0.5rem;
  color: var(--first-alpha-color);
  font-size: 1.15rem;
  font-weight: bold;
}
.nav-link:hover {
  color: var(--bs-white);
}

/* My Styles */
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Para pantallas de 768px o menos (dispositivos móviles) */
@media (max-width: 767px) {
  .nav-item:hover {
    background-color: var(--first-alpha-color);
  }

/* Para pantallas de 992px o más (desktops) */
@media (min-width: 768px) {


}
}
